@import "styles/global-var.scss";

.topic-container {
    background-color: $bg_topic_img;

    min-height: 170px;
    margin-bottom: 15px;
    border: 1px solid $main-color2;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
}
.overlay {
    display: flex;
    background-color: $bg_overlay;
}
.topic-image-container {
    padding: 10px;
    margin-right: 10px;
}
.topic-image {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
}

.technologies {
    line-height: 1;
    max-height: 29px;
    overflow: hidden;
    label {
        margin-bottom: 5px;
    }
    .tag-item {
        display: inline-block;
        background-color: #0f9d5830;
        border: 1px solid #0f9d5830;
        margin-right: 5px;
        border-radius: 5px;
        padding: 4px;
        min-width: 40px;
        text-align: center;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: $main-color2 !important;
    }
}

.topic {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    .title {
        font-size: 20px !important;
        font-weight: 500;
    }
    .description {
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: justify;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: normal;
        min-height: 3rem;
    }
    .topic-footer {
        display: flex;
        .topic-link {
            a {
                color: $main-color !important;
                margin-right: 10px;
            }
        }
        span {
            margin: auto;
        }
    }
}

.topic-container-invisible {
    visibility: hidden;
}
.topic-container-hiden {
    display: none !important;
}
.update-next-time {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    div {
        margin: auto;
    }
}

@media screen and (max-width: 959px) {
    .topic-container {
        flex-direction: column;
        .topic-image {
            width: 100%;
        }
        .topic-image-container {
            width: calc(100% - 20px);
        }
        .topic {
            padding-left: 10px;
        }
    }
    .topic-container-invisible {
        display: none;
    }
    .overlay {
        flex-direction: column;
    }
}
