<div class="bounds">
    <div class="inner-bounds">
        <div class="content">
            <h1 class="header"><span>#ALL</span><span>ABOUT ME</span></h1>
            <div class="main-content">
                <div class="image-container">
                    <div class="ava">
                        <div class="ava-container">
                            <div class="avatar"></div>
                        </div>
                    </div>
                    <div class="name">
                        <h2><span class="first-name">VU HIEU </span><span>NGUYEN</span></h2>
                        <h3><span class="role">SOFTWARE ENGINEER</span></h3>
                    </div>
                    <div class="icon">
                        <div class="icon-container">
                            <div></div>
                            <div>
                                <button
                                    aria-label="goToFacebook"
                                    class="m-icon facebook"
                                    onclick="window.open(
                                    'https://www.facebook.com/raiysaii/',
                                    '_blank'
                                  );"></button>
                            </div>
                            <div>
                                <button
                                    aria-label="goToLinkedin"
                                    class="m-icon linkedin"
                                    onclick="window.open(
                                    'https://www.linkedin.com/in/nhvu95/',
                                    '_blank'
                                  );"></button>
                            </div>
                            <div>
                                <button
                                    aria-label="goToGithub"
                                    class="m-icon github"
                                    onclick="window.open(
                                    'https://github.com/nhvu95',
                                    '_blank'
                                  );"></button>
                            </div>
                            <div>
                                <button
                                    aria-label="goToCclaim"
                                    class="m-icon cclaim"
                                    onclick="window.open(
                                    'https://www.credly.com/users/hieu-nguyen-vu/badges',
                                    '_blank'
                                  );"></button>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="introduce">
                    <p>
                        My name is
                        <span class="strong"><span class="main-color">Vu Hieu</span><span> Nguyen</span> </span>, You can call me
                        <span class="strong"><span class="main-color">"Vue"</span></span>
                        same as the way you call "Vue" in VueJS. I'm a Software Engineer. Up to now, I have done this job for 4 years. I have a bachelor degree in Information Technology, and I also
                        have a certificate of Azure Developer Associate.
                    </p>
                    <p>
                        <span class="strong">In my current team</span>, I work as a key member and a junior team leader. My direct supervisor gave me a chance to demonstrate my qualification. My main
                        responsibility is coding the core feature, building the skeleton of the project, reviewing source code and documents written by members. Sometimes I have to mentor newbies and
                        be in charge of them.
                    </p>
                    <p>
                        <span class="strong">I have a big 'DREAM'</span> to become a piece of a big thing or build it by myself. I don't clear about it. I know that It will be great and make the world
                        become a better place, and I'm still looking for it. A team with a big dream sounds good, right? Frequently, ideas came to my mind, and the first thing I do is make them come
                        true. You can see some of them in my PORTFOLIO, I also public their source code. I did not refactor or beautify almost all of them, but I believe that you still can understand.
                    </p>

                    <p>
                        <span class="strong itatic main-color">"What is coming will come and we'll meet it when it does".</span>
                        <br />
                        <span class="italic">- J.K. Rowling -</span>
                    </p>
                    <p>
                        So what I can do right now is try my best, keep learning from the good ones, look what they do, and wait for an opportunity. The opportunity will come for those who are
                        prepared.
                    </p>
                    <p>
                        <span class="strong"> I'm the kind of person</span>, if I want to do / I have to do something, I will study and self study everything I need to implement that. And by research
                        and self-study, I'm on my way to climbing on top of Pyramid. Only on top, I can see the opportunity, and touch on it. This isn't my last target, but It's my first step.
                    </p>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
