<div class="bounds">
    <div class="inner-bounds">
        <div class="content">
            <h1 class="header">
                <span>#ALL</span><span>ABOUT ME</span>
            </h1>
            <div class="main-content">
                <div class="image-container">
                    <div class="ava">
                        <div class="ava-container">
                            <div class="avatar"></div>
                        </div>
                    </div>
                    <div class="name">
                        <h2><span class="first-name">VU HIEU </span><span>NGUYEN</span></h2>
                        <h3><span class="role">SOFTWARE ENGINEER</span></h3>
                    </div>
                    <div class="icon">
                        <div class="icon-container">
                            <div></div>
                            <div>
                                <div class="facebook" onclick="window.open(
                                    'https://www.facebook.com/raiysaii/',
                                    '_blank'
                                  );" style="cursor:pointer;"></div>
                            </div>
                            <div>
                                <div class="linkedin" onclick="window.open(
                                    'https://www.linkedin.com/in/nhvu95/',
                                    '_blank'
                                  );" style="cursor:pointer;"></div>
                            </div>
                            <div>
                                <div class="github" onclick="window.open(
                                    'https://github.com/HieuNguyenVu',
                                    '_blank'
                                  );" style="cursor:pointer;"></div>
                            </div>
                            <div>
                                <div class="cclaim" onclick="window.open(
                                    'https://www.credly.com/users/hieu-nguyen-vu/badges',
                                    '_blank'
                                  );"></div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="introduce">
                    <p>
                        My name is <span class="strong"><span class="main-color">Vu Hieu</span><span> Nguyen</span>
                        </span>,
                        I am 26 years old. I work as a Software Engineer.
                        Up to now, I have done this job for 3 years. I was married and got a lovely boy. As the other
                        software engineer, my hobby is the technology and video game. Moreover, I also have an interest
                        in
                        art and design. Sometimes, when everything becomes hard (because of bug and issue with stuck), I
                        draw, design, or make some art to take the balance.
                    </p>
                    <p>
                        <span class="strong">I have a big 'DREAM'</span> to become a piece of a big thing or building it
                        by
                        myself. I don't clear about
                        it. I have no idea, I don't think and try looking for it.
                    </p>

                    <p>
                        <span class="strong itatic main-color">"What is coming will come and we'll meet it when it
                            does".</span>
                        <br>
                        <span class="italic">- J.K. Rowling -</span>
                    </p>
                    <p>
                        So what I can do is try my best, keep learning from the good ones, look what they do, and
                        waiting
                        for an opportunity. The opportunity will come for who prepared.
                    </p>
                    <p>
                        <span class="strong">If you ask me about 'GOAL'</span>, my GOAL is to make the dream become
                        true.
                        But I know, to catch my dream.
                        I must climb on the top of the Pyramid. Only on top, I can see the opportunity, and touch on it.
                        This isn't my last target, but It's my first step.
                    </p>
                </div>
            </div>
            <div class="footer">
                <div id="footer-contact">
                    <div id="m-icon">
                        <a class="m-icon gmail"
                            href="https://mail.google.com/mail/?view=cm&fs=1&to=nhvu.95@gmail.com&su=HOW%20CAN%20I%20HELP%20U%3F"
                            target="_blank" style="cursor:pointer;"></a>
                    </div>
                    <div id="m-contact" style="cursor:pointer;">
                        <h3><span class="fname">VU HIEU</span><span class="sname"> NGUYEN</span></h3>
                        <h3 class="email">nhvu.95@gmail.com</h3>
                    </div>
                </div>
                <div id="footer-download-cv">
                    <div class="download" onclick="window.open(
                        'https://drive.google.com/file/d/1sNJLiX9THvwkWe3FFBDrOJPMWuLw9ykW/view?usp=sharing',
                        '_blank'
                      );" style="cursor:pointer;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>