@import "styles/global-var.scss";

.header .my-tab-group {
    margin-left: auto;
}
#afterWork {
    .header ::ng-deep mat-tab-group .mat-tab-labels > div:nth-child(3) {
        padding: 0px;
    }

    ::ng-deep .mat-tab-labels > div:nth-child(3).mat-tab-label-active .mat-chip-list-wrapper {
        border: 2px solid $main-color2;
        input {
            width: 100%;
            margin: 4px;
        }
    }

    ::ng-deep .mat-tab-labels > div:nth-child(3).mat-tab-label-active *:focus-within .mat-chip-list-wrapper {
        mat-chip ~ input {
            max-width: 35%;
        }

        input {
            border-bottom: 1px solid lightblue;
            margin-bottom: 3px;
        }
    }

    ::ng-deep .mat-tab-labels > div:nth-child(3).mat-tab-label-active .mat-chip-list-wrapper {
        mat-chip ~ input {
            max-width: 0%;
        }
    }
    ::ng-deep mat-tab-group[selected-index="2"] .mat-tab-label-container .mat-ink-bar {
        opacity: 0;
        animation: normal 500;
    }

    ::ng-deep mat-chip-list .mat-chip-list-wrapper {
        display: block;
        border: 2px solid $main-color;
        border-radius: 30px;

        overflow: hidden;
        background-color: white;
        min-height: 40px;

        .mat-chip {
            color: white !important;
            align-items: flex-end;
            pointer-events: none;
        }
        .mat-chip-remove {
            opacity: 1;
            pointer-events: visible;
        }
        input {
            width: 0%;
            margin: 0px;
        }
        // Custom scrollbar
        /* width */
    }

    #keywordInput {
        height: 32px;
    }
    button.mat-chip-remove {
        padding: 0px;
        // background-color: white;
    }
}
mat-option {
    background: white !important;
}

.content {
    min-height: 100vh;
}
.main-content {
    display: block;
    .contents {
        display: flex;
        flex: 1;
    }
    .content-col {
        width: 33.33%;
        min-height: 600px;
    }
    .content-col:nth-child(2) {
        margin: 0px 10px;
    }
    .note-container {
        min-height: 190px;
        margin-bottom: 10px;
        border: 1px solid $main-color2;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        background-color: $bg_topic_img;

        .overlay {
            display: flex;
            align-items: center;
            background-color: $bg_overlay;
        }
        .note {
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
        }
        .note-headline {
            height: 100%;
            width: 10px;
            background-color: #f29e03;
        }
        .note-content {
            width: calc(100% - 75px);
            height: fit-content;
            p {
                text-align: justify;
                font-style: italic;
                margin: 0;
            }
            figure {
                margin: 14px 0px;
                text-align: justify;
            }
        }
    }
    > app-afterwork-item {
        height: 100%;
        ::ng-deep .topic-image {
            height: 375.52px;
        }
        ::ng-deep .topic-container {
            .topic .title {
                max-height: calc(100% - 150px);
            }
            .topic .topic-footer {
                margin-top: 8px;
            }
            .topic {
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 1279px) {
    .bounds {
        .header {
            flex-direction: column;
            align-items: center;
            mat-tab-group {
                margin-left: 0px !important;
            }
        }
        .main-content {
            .contents {
                display: inline-block;
                column-count: 2;
            }
            .content-col {
                width: 100%;
                min-height: 600px;
                app-afterwork-item {
                    display: inline-block;
                }
            }
            .content-col:nth-child(2) {
                margin-left: 0px;
            }
        }
    }
}

@media screen and (max-width: 539px) {
    .bounds {
        .content {
            .main-content {
                .contents {
                    column-count: 1;
                }
            }

            .header .header-sub-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            ::ng-deep .mat-tab-label {
                padding: 0 16px;
            }
        }
    }
}
