<div *ngIf="post && post.exist" class="topic-container">
    <div class="topic-image-container">
        <div class="topic-image" [ngStyle]="{ 'background-image': 'url(\'' + this.post.image + '\')' }"></div>
    </div>
    <div class="topic">
        <div class="tags">
            <ng-container *ngFor="let tag of post.tags">
                <label class="tag-item"
                    ><a href="#">#{{ tag }}</a></label
                >
            </ng-container>
        </div>
        <h3 class="title">{{ post.title }}</h3>
        <p class="description">
            {{ post.description }}
        </p>
        <div class="topic-footer">
            <div class="date">{{ post.date_end }}</div>
            <div class="topic-link">
                <a href="{{ post.link }}">Read More</a>
            </div>
        </div>
    </div>
</div>
