@import "styles/global-var.scss";

.topic-container {
    background-image: $bg_topic_img;
    background-size: cover;
    background-position: center;
    // min-height: 280px;
    margin-bottom: 10px;
    border: 1px solid $main-color2;
    border-radius: 10px;
    overflow: hidden;
}

.topic-image-container {
    padding: 10px;
    background-color: $bg_overlay;
    div {
        border-radius: 10px;
    }
}
.topic-image {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.topic {
    width: calc(100% - 30px);
    padding: 10px 15px;
    background-color: $bg_overlay;

    .title {
        font-size: 18px !important;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .tags {
        line-height: 1;
        margin-bottom: 5px;
        .tag-item {
            display: inline-block;
            background-color: #0f9d5830;
            border: 1px solid #0f9d5830;
            margin-right: 5px;
            border-radius: 5px;
            padding: 5px;
            min-width: 40px;
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            color: $main-color2 !important;
        }
    }
    .description {
        margin-top: 5px;
        margin-bottom: 0px;
        text-align: justify;
    }
    .topic-footer {
        margin-top: 10px;
        text-align: right;
        display: flex;
        .date {
            margin-right: auto;
            font-size: small;
            color: #00717b !important;
        }
        .topic-link {
            a {
                color: $main-color !important;
                margin-right: 10px;
            }
            a:hover {
                color: $main-color2 !important;
            }
        }
    }
}