<div class="bounds">
    <div class="inner-bounds">
        <div class="content">
            <h1 class="header">
                <span class="header-sub-wrapper"><span>#AFTER</span><span>WORK</span></span>
                <mat-tab-group *ngIf="currentNavIndex == 2" #afterwork mat-align-tabs="end" [selectedIndex]="2" class="my-tab-group" (selectedTabChange)="tabChanged($event)">
                    <mat-tab label="Non-Tech"></mat-tab>
                    <mat-tab label="Tech"></mat-tab>
                    <mat-tab label="All"></mat-tab>
                </mat-tab-group>
            </h1>

            <div class="main-content" *ngIf="projects$ | async as projects">
                <!-- First part -->
                <div class="contents">
                    <div class="content-col">
                        <div class="note-container">
                            <div class="overlay">
                                <div class="note-headline"></div>
                                <div class="note-wraper">
                                    <div class="note"></div>
                                </div>
                                <div class="note-content">
                                    <p class="main-color">
                                        Hi there! So glad you are here. I write these not to show my experience, knowledge, or that. This part is like a notebook, where I note all the
                                        things learned after a long day at work, the exciting thing I got when I did my PET project, or maybe just something I got from the internet. The non-tech tab
                                        will be a little silly cause I write about my life, experiences, and whatever is helpful. I hope you will see me better day by day, and I hope you enjoy them.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <app-afterwork-item *ngFor="let pj of projects[0]" [project]="pj"></app-afterwork-item>
                    </div>
                    <div class="content-col">
                        <app-afterwork-item *ngFor="let pj of projects[1]" [project]="pj"></app-afterwork-item>
                    </div>
                    <div class="content-col">
                        <app-afterwork-item *ngFor="let pj of projects[2]" [project]="pj"></app-afterwork-item>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
