@import "styles/global-var.scss";

.e404 {
    font-size: 200px !important;
    margin-bottom: 0px;
    line-height: 1em;
    height: 1em;
}
.not-found {
    width: 200px;
    min-width: 200px;
    height: 200px;
    min-height: 200px;

    background-image: url("/assets/images/not-found.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.main-content .content > div {
    justify-content: center;
    height: 100%;
    margin-top: auto;
    display: flex;
}
.main-content .content > a {
    text-align: center;
    margin-bottom: auto;
    margin-top: 20px;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
}
@media screen and (max-width: 1279px) {
    .not-found {
        width: 10vw;
        min-width: 30px;
        height: 10vw;
        min-height: 30px;
    }
    .e404 {
        font-size: 10vw !important;
        margin-bottom: 0px;
        line-height: 1em;
        height: 1em;
    }
    .main-content {
        min-height: 70px !important;
    }
}
