<mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)" [selectedIndex]="defaultSelect" id="mainTab">
    <mat-tab label="ABOUT ME">
        <ng-template matTabContent>
            <app-hello></app-hello>
        </ng-template>
    </mat-tab>
    <mat-tab label="PORTFOLIO">
        <ng-template matTabContent>
            <app-portfolio [currentNavIndex]="navIndex"></app-portfolio>
        </ng-template>
    </mat-tab>
    <mat-tab label="AFTER WORK">
        <ng-template matTabContent>
            <app-after-work [currentNavIndex]="navIndex"></app-after-work>
        </ng-template>
    </mat-tab>
</mat-tab-group>
