<mat-tab-group id="mainTab" mat-align-tabs="center" dynamicHeight [(selectedIndex)]="activeTabIndex" (click)="onTabGroupClicked()">
    <mat-tab label="ABOUT ME"></mat-tab>
    <mat-tab label="PORTFOLIO"></mat-tab>
    <mat-tab label="AFTER WORK"></mat-tab>
</mat-tab-group>
<div class="bounds" id="blog-post">
    <div class="inner-bounds">
        <div class="content">
            <div class="post-container">
                <div class="header-image">
                    <img [src]="headerImage$ | async" loading="lazy" />
                </div>
                <h1 class="header">
                    <span class="header-sub-wrapper"
                        ><span>{{ title1 | async }}</span
                        ><span>{{ title2 | async }}</span></span
                    >
                </h1>
                <div class="main-content markdown-body">
                    <div>
                        <div>
                            <label class="author">
                                <div class="avatar"></div>
                                <span>
                                    <span>Vue Nguyen</span><span class="normal"> in </span><span class="">{{ location$ | async }}</span
                                    ><span class="normal"> • {{ endDate$ | async }}</span>
                                </span>
                            </label>
                            <div class="yellow-line"></div>
                            <div class="s-content">
                                <scully-content></scully-content>
                            </div>
                            <div class="post-thank">Thank for reading!</div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
