@import "styles/global-var.scss";

$max-blog-width: 850px;

#blog-post {
    .inner-bounds {
        padding: 0px;
    }
    .header-image {
        height: 400px;
        width: 100%;
        display: block;
        margin-bottom: 3rem;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .content {
        padding: 0;
    }
}

img[src$="centerme"] {
    display: block;
    margin: 0 auto;
}

.bounds {
    .inner-bounds {
        width: 100%;
        .content {
            margin-bottom: 40px;
        }
    }
    .post-container {
        max-width: $max-blog-width;
        margin: auto;
    }
    .header {
        font-weight: 500 !important;
        margin-left: auto;
        margin-right: auto;
    }

    .main-content {
        margin-top: 0px;
        margin-bottom: 50px;
        max-width: 100% !important;

        > div {
            justify-content: center;
            width: 100%;
        }
        .yellow-line {
            width: 50px;
            height: 20px;
            border-bottom: 3px solid #f29e03;
            margin-bottom: 50px;
        }
        .s-content {
            min-height: 350px;
        }
        .s-content > p {
            font-family: $roboto-font !important;
        }
        ol li {
            font-family: $roboto-font !important;
        }
        .post-date {
            text-align: right;
        }
        .post-thank {
            text-align: right;
            font-style: italic;
        }
    }

    h3.author {
        font-size: 25px;
        font-weight: 600;
        .sur-name {
            font-weight: lighter;
        }
    }
}

@media screen and (max-width: 1279px) {
    .bounds {
        flex-direction: column;
    }
    .main-content {
        .author {
            text-align: center;
        }
        .yellow-line {
            width: 100% !important;
        }
    }
}
@media screen and (max-width: 539px) {
    .header-sub-wrapper {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        font-size: 3rem;
    }
    .main-content {
        .post-date,
        .post-thank {
            text-align: center !important;
        }
    }

    #mainTab {
        ::ng-deep .mat-tab-label {
            padding: 0 16px;
        }
    }
}
