<mat-tab-group id="mainTab" mat-align-tabs="center" dynamicHeight [(selectedIndex)]="activeTabIndex" (click)="onTabGroupClicked()">
    <mat-tab label="ABOUT ME"></mat-tab>
    <mat-tab label="PORTFOLIO"></mat-tab>
    <mat-tab label="AFTER WORK"></mat-tab>
</mat-tab-group>
<div class="bounds">
    <div class="inner-bounds">
        <div class="content">
            <h1 class="header">
                <span class="header-sub-wrapper"><span>{{title1| async}}</span><span>{{title2| async}}</span></span>
            </h1>
            <div class="main-content markdown-body">
                <div>
                    <!-- <div>
                    <div *ngIf="displayControl" style="width: 170px; align-items: center; position: fixed;">
                        <div class="down-arrow" style="transform: rotate(180deg);" (click)="scrollToTop()"></div>
                        <h3 style="margin-bottom: 0px; font-weight: 600; text-align: center;">{{title |async}}</h3>
                        <div style="width: 130px; height: 0px; border-bottom: 2px solid #f29e03; margin-bottom: 10px;">
                        </div>
                        <h3 style="font-size: 20px;"><span style="font-weight: 500;">VU HIEU</span><span
                                class="sur-name"> NGUYEN</span></h3>
                        <div class="down-arrow" (click)="scrollToBottom()"></div>
                    </div>
                </div> -->
                    <div>
                        <h3 class="author"><span>VU HIEU</span><span class="sur-name"> NGUYEN</span></h3>
                        <div style="width: 50px; height: 20px; border-bottom: 3px solid #f29e03; margin-bottom: 50px;"
                            class="yellow-line">
                        </div>
                        <div style="min-height: 350px;">
                            <scully-content></scully-content>
                        </div>
                        <div class="post-date" style="text-align: right;">{{startDate$ | async}} - {{endDate$ | async}}
                        </div>
                        <div class="post-thank" style="text-align: right; font-style: italic;">Thank for reading!</div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="footer">
                <div id="footer-contact">
                    <div id="m-icon">
                        <a class="m-icon gmail"
                            href="https://mail.google.com/mail/?view=cm&fs=1&to=nhvu.95@gmail.com&su=HOW%20CAN%20I%20HELP%20U%3F"
                            target="_blank" style="cursor:pointer;"></a>
                    </div>
                    <div id="m-contact" style="cursor:pointer;">
                        <h3><span class="fname">VU HIEU</span><span class="sname"> NGUYEN</span></h3>
                        <h3 class="email">nhvu.95@gmail.com</h3>
                    </div>
                </div>
                <div id="footer-download-cv">
                    <div class="download" onclick="window.open(
                        'https://drive.google.com/file/d/1sNJLiX9THvwkWe3FFBDrOJPMWuLw9ykW/view?usp=sharing',
                        '_blank'
                      );" style="cursor:pointer;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>