/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "styles/global-var.scss";

html {
    overflow-y: overlay;
}

mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $main-color !important;
}

* {
    font-family: $roboto-font !important;
    color: $black-color !important;
}

h1 {
    font-size: 55px !important;
    margin-bottom: 0px !important;
}

h2 {
    font-size: 35px !important;
    margin-bottom: 0px !important;
}

h3 {
    font-size: 25px !important;
    margin-bottom: 0px !important;
}

html {
    // background-color: white;
}
body {
    // background-color: #e4e4e4;
    // height: 100vh;
    margin: 0;
    background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(0, 113, 123, 0.05) 50%, rgba(0, 113, 123, 0.05) 100%);
}

.bounds {
    // background-color: white;
    .inner-bounds {
        // background: rgb(255, 255, 255);
        // background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(0, 113, 123, 0.05) 50%, rgba(0, 113, 123, 0.05) 100%);
        padding: 3rem 0rem;
        width: 100%;
    }
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid rgba(0, 113, 123, 0.3);
    border-radius: 10px;

    max-width: 1440px;
    // display: flex;
    // flex-direction: row;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.main-color {
    color: $main-color !important;
}
.black-color {
    color: $black-color !important;
}
.strong {
    font-weight: bold !important;
}
.italic {
    font-style: italic !important;
}

.header {
    font-weight: normal !important;
    margin-top: 0rem !important;
    line-height: 1em !important;
    display: flex;
    align-items: center;

    span:first-child {
        color: $black-color !important;
        letter-spacing: 0 !important;
        margin-right: 1rem;
    }
    span:last-child {
        color: $main-color !important;
        letter-spacing: 0 !important;
    }
}
.avatar {
    background-image: url("https://i.imgur.com/6jVNuDb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    // display: flex;
    // flex-direction: column;
    // flex: 1 1 100%;
    padding: 0rem 5rem;
}

.main-content {
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    max-height: 70%;
    flex-direction: row;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    //
    min-height: 470px;
}

.footer {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    height: 100%;
    max-height: 150px;
    min-height: 150px;
    width: 100%;
    align-items: center;

    #footer-contact {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        align-items: center;

        div .m-icon {
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
            display: block;
        }

        #m-contact {
            height: fit-content;
            margin-left: 10px;
            .sname {
                font-weight: 300;
            }
            .email {
                font-size: 20px !important;
                line-height: 1rem;
            }
        }
    }
    #footer-download-cv .download {
        height: 50px;
        min-height: 50px;
        width: 150px;
        min-width: 150px;
        // border-radius: 13px 0 0 13px;
    }
}
#blog-post .footer {
    margin-top: 30px;
    min-height: 150px;

}

/// ICON ==========================

.facebook {
    background-image: $bg-image;
    background-size: $bg-size;
    background-position-x: -100px;
    background-position-y: 0px;
}

.facebook:hover {
    background-position-x: -150px;
    background-position-y: 0px;
}

.linkedin {
    background-image: $bg-image;
    background-size: $bg-size;
    background-position-x: -400px;
    background-position-y: 0px;
}
.linkedin:hover {
    background-position-x: -450px;
    background-position-y: 0px;
}
.github {
    background-image: $bg-image;
    background-size: $bg-size;
    background-position-x: -300px;
    background-position-y: 0px;
}
.github:hover {
    background-position-x: -350px;
    background-position-y: 0px;
}
.cclaim {
    background-image: $bg-image;
    background-size: $bg-size;
    background-position-x: -200px;
    background-position-y: 0px;
}
.cclaim:hover {
    background-position-x: -250px;
    background-position-y: 0px;
}
.gmail {
    background-image: $bg-image;
    background-size: $bg-size;
    background-position-x: 0x;
    background-position-y: 0px;
}
.gmail:hover {
    background-position-x: -50px;
    background-position-y: 0px;
}
.download {
    background-image: $bg-image;
    background-size: $bg-size;
    background-position-x: -250px;
    background-position-y: -50px;
}
.download:hover {
    background-position-x: -250px;
    background-position-y: -100px;
}

.note {
    background-image: $bg-image;
    background-size: $bg-size;
    background-position-x: -50px;
    background-position-y: -50px;
}

// .down-arrow {
//     width: 50px;
//     min-width: 50px;
//     height: 50px;
//     min-height: 50px;
//     opacity: 0.4;

//     background-image: url("/assets/images/down-arrow.svg");
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
// }

// .down-arrow:hover {
//     opacity: 0.5;
// }
// .down-arrow:active {
//     opacity: 0.7;
//     background-image: url("/assets/images/down-arrow-click.svg");
// }

// .note-undone {
//     width: 83px;
//     min-width: 83px;
//     height: 103px;
//     min-height: 103px;

//     background-image: $bg-image;
//     background-size: 527px 355px;
//     background-position-x: -327.75px;
//     background-position-y: 0px;
// }
button.m-icon {
    border: 0px;
    background-color: unset;
}

.title-tooltip {
    font-size: 1rem;
    line-height: 1;
    // min-width: 300px;
    color: white !important;
}

.normal-tooltip {
    font-size: 14px;
    line-height: 1.2;
    min-width: 450px;
    color: white !important;
}
.flex-tooltip {
    font-size: 14px;
    line-height: 1.2;
    color: white !important;
}
::ng-deep .snack-bar-container {
    background: #dcdcdc !important;
    .button:hover .mat-button-wrapper {
        color: $main-color2;
    }
}
.pointer {
    cursor: pointer !important;
}

@media screen and (max-width: 1279px) {
    body {
        margin: 0px;
    }
    .bounds {
        margin-bottom: 0px;
        border-radius: 0px;
        border: 0px;
        box-shadow: none;
        .content {
            padding: 0rem 0rem;
            .header {
                justify-content: center;
            }

            .main-content {
                flex-direction: column !important;
                align-items: center;
            }
        }
        .footer {
            justify-content: center;
            #footer-contact {
                max-width: fit-content;
                margin-right: 20vw;
            }
        }
        .inner-bounds {
            background: #f3f8f9;
        }
    }
}
@media screen and (max-width: 920px) {
    // Content
    .bounds {
       
        .footer {
            #footer-contact {
                max-width: fit-content;
                transform: scale(0.9);
                #m-contact h3:not(.email) {
                    display: flex;
                    font-size: 22px !important;
                }
                #m-contact h3.email{
                    font-size: 17px !important;;
                }
                #m-contact{
                    width: max-content;
                }
            }
            #footer-download-cv {
                transform: scale(0.9);
                height: 50px;
            }
        }
    }
}
@media screen and (max-width: 539px) {
    // Content
    .bounds {
        .content {
            padding: 0rem 0rem;
            .header {
                flex-direction: column !important;
                span:first-child {
                    margin-right: 0px;
                }
            }
            .main-content {
                max-width: 95%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .footer {
            flex-direction: column-reverse;
            justify-content: center;
            #footer-contact {
                max-width: fit-content;
                margin-right: 0px;
                margin-bottom: 1rem;
                // margin-top: 2rem;
                transform: scale(0.8);
                #m-contact h3:not(.email) {
                    font-size: 20px !important;
                }
                #m-contact h3.email{
                    font-size: 17px !important;;
                }
            }
            #footer-download-cv {
                transform: scale(0.8);
            }
        }
    }
}

@import "styles/prism-coy-without-shadows.scss";
