<div class="footer">
    <div id="footer-contact">
        <div id="m-icon">
            <button class="m-icon gmail pointer" (click)="openLink('https://mail.google.com/mail/?view=cm&fs=1&to=nhvu.95@gmail.com&su=HOW%20CAN%20I%20HELP%20U%3F')"></button>
        </div>
        <div id="m-contact" class="pointer">
            <h3><span class="fname">VU HIEU</span><span class="sname"> NGUYEN</span></h3>
            <h3 class="email">nhvu.95@gmail.com</h3>
        </div>
    </div>
    <div id="footer-download-cv">
        <button
            class="m-icon download pointer"
            onclick="window.open(
                    'https://drive.google.com/file/d/1sNJLiX9THvwkWe3FFBDrOJPMWuLw9ykW/view?usp=sharing',
                    '_blank'
                  );"></button>
    </div>
</div>
