@import "styles/global-var.scss";

.footer {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    height: 100%;
    max-height: 60px;
    // min-height: 150px;
    width: 100%;
    align-items: center;

    #footer-contact {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        align-items: center;

        div .m-icon {
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
            display: block;
        }

        #m-contact {
            height: fit-content;
            margin-left: 10px;
            .sname {
                font-weight: 300;
            }
            .email {
                font-size: 20px !important;
                line-height: 1rem;
            }
        }
    }
    #footer-download-cv .download {
        height: 50px;
        min-height: 50px;
        width: 150px;
        min-width: 150px;
        display: block;
        // border-radius: 13px 0 0 13px;
    }
}

#blog-post .footer {
    margin-top: 30px;
    min-height: 150px;

}



@media screen and (max-width: 1279px) {
    .bounds {
        .footer {
            justify-content: center;
            #footer-contact {
                max-width: fit-content;
                margin-right: 20vw;
            }
        }
    }
}
@media screen and (max-width: 920px) {
    // Content
    .bounds { 
        .footer {
            #footer-contact {
                max-width: fit-content;
                transform: scale(0.9);
                #m-contact h3:not(.email) {
                    display: flex;
                    font-size: 22px !important;
                }
                #m-contact h3.email{
                    font-size: 17px !important;;
                }
                #m-contact{
                    width: max-content;
                }
            }
            #footer-download-cv {
                transform: scale(0.9);
                // height: 50px;
            }
        }
    }
}
@media screen and (max-width: 539px) {
    // Content
    .bounds {
        .footer {
            flex-direction: column-reverse;
            justify-content: center;
            #footer-contact {
                max-width: fit-content;
                margin-right: 0px;
                margin-bottom: 1rem;
                // margin-top: 2rem;
                transform: scale(0.8);
                #m-contact h3:not(.email) {
                    font-size: 20px !important;
                }
                #m-contact h3.email{
                    font-size: 17px !important;;
                }
            }
            #footer-download-cv {
                transform: scale(0.8);
            }
        }
    }
}
