<div class="footer">
    <div id="footer-contact">
        <div id="m-icon">
            <a class="m-icon gmail" href="https://mail.google.com/mail/?view=cm&fs=1&to=nhvu.95@gmail.com&su=HOW%20CAN%20I%20HELP%20U%3F" target="_blank" style="cursor: pointer"></a>
        </div>
        <div id="m-contact" style="cursor: pointer">
            <h3><span class="fname">VU HIEU</span><span class="sname"> NGUYEN</span></h3>
            <h3 class="email">nhvu.95@gmail.com</h3>
        </div>
    </div>
    <div id="footer-download-cv">
        <div
            class="download"
            onclick="window.open(
                    'https://drive.google.com/file/d/1sNJLiX9THvwkWe3FFBDrOJPMWuLw9ykW/view?usp=sharing',
                    '_blank'
                  );"
            style="cursor: pointer"></div>
    </div>
</div>
